<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ISanitizeMapper.test" value="test,sample;Xsv.Test;Xsv.Test.Sanitize.SampleMapper" />
    <add key="ISanitizeMapper.typeNotFound" value="typeNotFound;Xsv.Test;Xsv.Test.Sanitize.TypeNotInNamespaceMapper" />
    <add key="ISanitizeMapper.noEmptyCtor" value="noEmptyCtor;Xsv.Test;Xsv.Test.Sanitize.NoEmptyConstructorMapper" />
  </appSettings>
</configuration>