@import '../shared.scss';

.queryStats {
    padding-left: 4px;
    background: #E3E3E3;
    @include ellipsis;
    display: flex;
    & > * { padding: 6px 0; }

    /* Mark error content with light red highlight */
    .error {
        background: #f67c87;
    }
}
