@import './configuration/theme';
@import '../shared.scss';

/* So far only used within the context of the resultTable. */
@mixin border-collapse($border-color, $border-width: 1px, $border-style: solid) {
    border-collapse: separate;
    border-spacing: 0;

    td {
        border-style: solid;
        border-color: $border-color;
        border-width: 0 0 $border-width 0;
    }
}

/* Make the result listing take the full available width */
.resultListing {
    width: 100%;

    // Manually create the effect for border-collapse to enable frozen headers.
    // Otherwise the borders won't stick to the frozen headers.
    @include border-collapse(hsl(0, 0%, 90%));

    thead td {
        cursor: pointer;
        background: $bg; // For frozen headers.
        border-color: $medium;
        padding: 16px 6px 4px 6px;

        color: hsl(0, 0%, 25%);
        @include small-caps(11px);

        & > .th-inner {
            display: flex;
            align-items: center;

            .th-title {
                flex: 1;
                @include ellipsis;
            }

            svg.delete {
                &:hover {
                    background-color: white;
                    path { fill: hsl(0, 0%, 40%); }
                }
            }

            .columnCommand {
                visibility: hidden;
            }

            .add-column-button {
                margin-left: 5px;
            }
        }

        transition: background 100ms ease-in-out;
        &:hover {
            background-color: lighten($light, 43%);
            .columnCommand { visibility: visible; }
        }
    }

    :not(thead) tr {
        cursor: pointer;

        transition: background 100ms ease-in-out;
        &:hover { background-color: lighten($light, 43%); }

        &.selected td {
            background-color: lighten($light, 43%);
            border-color: $medium;
        }
    }

    td {
        padding: 8px;
        padding-left: 5px;
        max-width: 400px; // Acts like min-width.
        @include ellipsis;
    }
}

.icon-button {
    font-size: 0;
    padding: 5px;
    border-radius: 3px;
    &:hover {
        background-color: $bg;
    }
}
