@import '../configuration/theme';
@import '../shared.scss';

.clickable {
    cursor: pointer;
    user-select: none;
    &:hover { color: inherit; };
}

.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background: linear-gradient(to right, $vdark 100px, $medium 600px);

    a.title {
        align-self: stretch;

        @include center-center;
        cursor: pointer;
        padding: 4px 10px 0 15px;
        font-size: 22px;

        color: white;
        transition: background 100ms ease-in-out;
        &:hover {
            color: white; // Suppress global a:hover.
            background-color: lighten($vdark, 5%);
        }
    }

    .searchBoxAndButtons {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;

        & > a { // <a> assumed to be buttons.
            padding: 8px;
            font-size: 0; // Discard white space.
            &:hover { opacity: 0.8; }
        }
    }
}
