@import '../configuration/theme';
@import '../shared.scss';

.clickable {
    cursor: pointer;
    user-select: none;
    &:hover { color: inherit; };
}

.header {
    display: flex;
    align-items: center;    
    background-color: $medium;

    a.title {
        align-self: stretch;

        @include center-center;
        cursor: default;
        padding: 12px;
        font-size: 18pt;
        background-color: $vdark;
        color: white;
    }

    .searchBoxAndButtons {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 12px 6px 12px 8px;

        & > a { // <a> assumed to be buttons.
            padding: 8px;
            font-size: 0; // Discard white space.
            &:hover { opacity: 0.8; }
        }
    }
}

