@import '../configuration/theme';
@import '../shared.scss';

$line-color: hsl(0, 0%, 80%);
$line: 1px solid $line-color;

.start-wrapper {
    width: 100%;
    height: 100%;
    @include center-center;
}

.clickable {
    cursor: pointer;
    user-select: none;
    &:hover { color: inherit; };
}

.start {
    width: 550px;
    height: 500px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    * { box-sizing: border-box; } // Eventually global.

    h1 {
        font-size: 26px;
        margin-bottom: 15px;
        letter-spacing: -0.2px;
        font-weight: inherit; // Undo.
        b { letter-spacing: 0.5px; }
    }

    .intro {
        margin-top: -10px;
        margin-bottom: 10px;
        line-height: 150%;
        .welcome {
            margin-bottom: 20px;
        }
        .example {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .query {
                font-size: 14px;
                border: $line;
                background-color: hsl(0, 0%, 95%);
                flex: 0 0 200px;
                padding: 10px;
                margin-right: 15px;
            }
        }
    }

    .divider {
        position: relative;
        border-bottom: $line;
        .more { @extend .clickable;
            position: absolute;
            right: 0;
            bottom: -7px;
            background: $bg; // To cover up the line.
            padding-left: 10px;
            margin-bottom: 0px;
            color: hsl(0, 0%, 60%);
            &:hover { color: hsl(0, 0%, 30%); }
            @include small-caps;
        }
    }

    .items {
        margin-top: 15px;
        flex: 1 1 100px;
        overflow: hidden;
        &:hover { overflow-y: auto; }

        .h1 {
            color: $vdark;
            @include small-caps;
            margin-bottom: 5px;
        }

        .item-group {
            margin-bottom: 10px;
            .item { @extend .clickable;
                display: flex;
                align-items: center;
                :nth-child(1) { // The icon.
                    width: 20px;
                    color: hsl(0, 0%, 50%)
                }
                :nth-child(2) { // The text.
                    padding: 5px 0;
                    flex-grow: 1;
                }
                :nth-child(3) { // The delete button.
                    opacity: 0;
                    color: hsl(0, 0%, 75%);
                    &:hover {
                        color: hsl(0, 0%, 100%);
                        background-color: hsl(0, 80%, 60%);
                    }
                    @include small-caps;
                    padding: 0 15px;

                    align-self: stretch;
                    display: flex;
                    align-items: center;
                }
                &:hover {
                    background-color: hsla(0, 0%, 0%, 0.05);
                    :nth-child(3) { opacity: 1; } // The delete button.
                }
            }
        }
    }
}
