@import '../configuration/theme';
@import '../shared.scss';

.searchBoxAndTabs {
    flex: 1;
    font-size: 12px;
    position: relative;
    margin: 8px;

    .explanation {
        border-top: 1px dashed hsl(0, 0, 85%);
        background: hsl(0, 0, 97%);
        padding: 10px;
        color: $vdark;
        font-family: monospace;
    }
}

.tableTabs {
    display: flex;

    span.tableTabs-fill { flex: 1; }

    span.tableTab {
        display: flex;
        align-items: center;
        padding: 3px 10px;
        background: hsl(0, 0, 94%);
        border-bottom: 1px solid hsl(0, 0, 85%);
        cursor: pointer;
        user-select: none;

        & > *:not(:last-child) {
            margin-right: 5px;
        }

        &.locked {
            pointer-events: none;
            span.delete { pointer-events: auto; }
        }

        &.current, &.current:hover {
            background: hsl(0, 0, 97%);
            border-bottom-color: transparent;
        }

        &:hover { background-color: hsl(0, 0, 88%); }

        svg.delete {
            margin-right: -6px;
        }
    }

    & > span.tableTab:not(:first-child) { // Only non-overflow tabs.
        border-left: 1px solid hsl(0, 0, 85%);
    }

    .tabs-overflow {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        z-index: 1;

        span.tableTab {
            padding: 10px 15px;

            :first-child {
                flex-grow: 1;
                margin-right: 15px;
            }
        }
    }

    a {
        @include center-center;
        margin: 2px 0 2px 4px;
        padding: 4px;

        &:hover { background-color: hsla(0, 0, 0%, 0.1); }
    }
}
