@import '../configuration/theme';
@import '../shared.scss';

.searchBoxAndTabs {
    flex: 1;
    font-size: 12px;
    position: relative;

    .explanation {
        border-top: 1px dashed hsl(0, 0, 85%);
        background: hsl(0, 0, 97%);
        padding: 10px;
        color: $vdark;
        font-family: monospace;
    }
}

.tableTabs {
    display: flex;

    span.tableTabs-fill { flex: 1; }

    span.tableTab {
        padding: 5px 10px;
        background: hsl(0, 0, 94%);
        border-bottom: 1px solid hsl(0, 0, 85%);
        cursor: pointer;

        &.locked {
            pointer-events: none;
            span.delete { pointer-events: auto; }
        }

        &:not(:first-child) {
            border-left: 1px solid hsl(0, 0, 85%);
        }

        &.current, &.current:hover {
            background: hsl(0, 0, 97%);
            border-bottom-color: transparent;
        }

        &:hover { background-color: hsl(0, 0, 88%); }

        span.delete {
            padding: 0px 4px 1px;
            font-size: 12px;
            border-radius: 2px;
            position: relative;
            left: 4px;
            &:hover {
                color: hsl(0, 0%, 100%);
                background-color: hsl(0, 80%, 60%);
            }
        }

        .pinned {
            position: relative;
            left: -1px;
            top: 1px;
            margin-right: 5px;
        }
    }

    a {
        @include center-center;
        margin: 2px 0 2px 4px;
        padding: 4px;

        &:hover { background-color: hsla(0, 0, 0%, 0.1); }
    }
}
