$bg: white;
$text: hsl(0, 0, 30%);
$line: hsl(0, 0, 92%);
$linedark: hsl(0, 0, 70%);
$blue: hsl(220, 75%, 95%);
$bluehot: hsl(210, 90%, 90%);

@mixin buttonBase {
    padding: 8px 10px;
    padding-right: 12px; // Optical
    border-radius: 3px;
}

@mixin buttonActive {
    cursor: pointer;
    user-select: none;
    &:hover { background-color: $blue; }
    &:active { background-color: $bluehot; }
}

@mixin header {
    height: 50px;
    border-bottom: 1px solid $linedark;
    display: flex;
    align-items: center;
    padding: 0 12px;

    & > :not(input) {
        @include buttonBase;
        &.button { @include buttonActive; }
    }

    & > a { color: inherit; }
}

html, #app {
    height: 100%;
}

body {
    font: 8pt sans-serif;
    background-color: $bg;
    color: $text;
    margin: 0;
    height: 100%;

    * {
        box-sizing: border-box;
        outline: none;
    }

    a {
        text-decoration: none;
    }

    input {
        color: $text;
        font: 11pt sans-serif;
    }

    ::placeholder { color: $line; }
}

.root {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fffffe; // Matching Monaco

    & > * {
        height: 100%;
    }
    & > :not(:first-child) {
        border-left: 1px solid $linedark;
    }
}

.query {
    display: flex;
    flex-direction: column;

    .queryHeader {
        @include header;
        padding-left: 0; // Override 'header'

        input {
            flex: 1 1 auto;
            font: inherit;
            border: 0;
            padding: 18px;
        }

        span {
            @include buttonBase;
            &:hover { @include buttonActive; }
        }
    }

    #queryEditor {
        flex: 1 1 auto;
        width: 500px;
        overflow-y: hidden;
        overflow-x: scroll;
        resize: horizontal;

        .monaco-editor .view-overlays .current-line {
            border: 0; // Override default monaco styling.
        }
    }

    .queryUsage {
        font-family: monospace;
        color: hsl(0, 0, 50%);
        padding: 10px 5px 10px 30px;
        padding-right: 0;
        overflow-x: hidden;
    }
}

#schema {
    min-width: 150px;
    display: flex;
    flex-direction: column;

    .schemaHeader {
        @include header;
        flex: 0 0 auto;
    }

    .tableWrapper {
        overflow-x: hidden;
        overflow-y: auto;
    }

    table {
        margin-top: 20px;
        border-collapse: collapse;
        td {
            white-space: nowrap;
            padding: 0;

            label {
                padding: 5px 15px 5px 20px;
                display: flex;
                cursor: pointer;
                user-select: none;
            }

            input {
                margin: 0;
                margin-right: 8px;
            }

            &:last-child {
                color: $linedark;
                padding-right: 20px;
            }
        }
        tr:hover { background: $blue; }
        :nth-child(5n) td {
            padding-bottom: 20px;
        }
    }
}

#results {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: scroll;

    .resultsHeader {
        @include header;
        flex-shrink: 0;
        position: relative; // For .loading

        .flexFill { flex: 1 }

        .loading {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;

            &.loading-active {
                display: block;
                background: linear-gradient(90deg, transparent 70%, hsl(210, 75%, 50%) 85%, transparent);
                background-size: 200%;
                animation: wave 1.5s linear 500ms infinite;

                @keyframes wave {
                    0%    { background-position: 200% 50% }
                    100%  { background-position: 0%   50% }
                }
            }
        }
    }

    .tableWrapper {
        flex: 1;
        padding: 10px 20px;
    }

    table {
        border-collapse: collapse;

        thead td {
            font-weight: bold;
            border-bottom: 1px solid $linedark;
        }

        td {
            border-bottom: 1px solid $line;
            padding: 10px 20px 10px 0;
            white-space: nowrap;
        }

        // tr:hover { background: hsl(220, 20%, 98%); }
    }
}

