$bg: hsl(60, 10%, 99.4%);
$text: hsl(0, 0, 30%);
$line: hsl(0, 0, 92%);
$line80: hsl(0, 0, 80%);
$linedark: hsl(0, 0, 70%);
$blue: hsl(205, 90%, 45%);

html, #app {
    height: 100%;
}

body {
    font: 8pt sans-serif;
    background-color: $bg;
    color: $text;
    margin: 0;
    height: 100%;

    * {
        box-sizing: border-box;
        outline: none;
    }

    a {
        text-decoration: none;
    }

    input, select {
        color: inherit;
        font: inherit;
        text-shadow: inherit;
        background-color: inherit;
    }

    select {
        border: 1px solid hsla(0, 0, 0, 0.15);
    }

    option {
        color: $text;
        background: $bg;
    }

    ::placeholder { color: hsla(0, 0, 100%, 0.5); }

    ::-webkit-scrollbar {
        height: 12px;
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background: hsla(0, 0, 0, 0.1);
        &:hover { background: hsla(0, 0, 0, 0.2); }
    }
}

@mixin buttonBase {
    padding: 8px 10px;
    padding-right: 12px; // Optical
    border-radius: 3px;
}

@mixin buttonActive {
    cursor: pointer;
    user-select: none;
    &:hover { background-color: hsla(0, 0, 0, 0.15); }
    &:active { background-color: hsla(0, 0, 100%, 0.15); }
}

@mixin header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 9pt;
    text-shadow: 0 1px 2px hsla(0, 0, 0, 0.2);

    background-color: $blue;
    color: hsl(0, 0, 95%);
    border-bottom: 1px solid adjust-color($blue, $lightness: -10%);

    & > :not(input):not(.loading) {
        @include buttonBase;
        &.button { @include buttonActive; }
        transition: opacity 1s;
    }

    & > a { color: inherit; }
}

.root {
    display: flex;
    height: 100%;
    width: 100%;

    & > * {
        height: 100%;
        box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.2);
        background: $bg;
    }
    & > :not(:first-child) {
    }
    & > :nth-child(1) { z-index: 3; }
    & > :nth-child(2) { z-index: 2; }
    & > :nth-child(3) { z-index: 1; }

    & > :not(:first-child) > :not(:first-child) {
        border-left: 1px solid $line;
    }
}

.query {
    display: flex;
    flex-direction: column;

    .queryHeader {
        @include header;
        padding-left: 0; // Override 'header'

        input {
            flex: 1 1 auto;
            font: inherit;
            border: 0;
            padding: 17px;
        }

        span {
            @include buttonBase;
            &:hover { @include buttonActive; }
        }

        span.save {
            color: adjust-color($blue, $lightness : -25%);
            text-shadow: initial !important;
            background-color: hsla(0, 0, 100%, 0.8);
            padding: 7px 9px; // 1px less than normal each side, optical.
            &:hover { background-color: hsla(0, 0, 100%, 0.6); }
        }

        select {
            padding: 6px 4px !important;
            margin-left: 10px;
            option { padding: 6px 4px; }
        }
    }

    #queryEditor {
        flex: 1 1 auto;
        width: 500px;
        overflow-y: hidden;
        overflow-x: scroll;
        resize: horizontal;

        .monaco-editor { // Override default monaco styling.
            background-color: transparent;
            .margin, .monaco-editor-background { background-color: transparent; }
            .line-numbers { color: hsl(0, 0, 80%); }
            .current-line { border: 0; }
            .suggest-widget {
                width: 230px;
                & > .tree {
                    background-color: $bg !important;
                    border-style: none;
                    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.05);
                }
            }

            .validationError {
            	text-decoration: underline;
                text-decoration-color: hsl(5, 80%, 65%);
            }
        }

        position: relative;
        .queryHint {
            position: absolute;
            z-index: -1;
            font: 14px Consolas; // Manually match Monaco
            color: hsl(0, 0, 90%);
            white-space: pre;
            display: none;
        }
    }

    .queryUsage {
        font-family: monospace;
        color: hsl(0, 0, 50%);
        padding: 10px 5px 10px 30px;
        padding-right: 0;
        overflow-x: hidden;
        span.errorMessage {
            color: hsl(5, 80%, 65%);
        }
    }
}

.flexFill { flex: 1 }
#schema {
    min-width: 150px;
    display: flex;
    flex-direction: column;

    .schemaHeader {
        @include header;
        flex: 0 0 auto;
    }

    .tableWrapper {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1 1 auto;
    }

    table {
        margin-top: 20px;
        border-collapse: collapse;
        td {
            white-space: nowrap;
            padding: 0;

            label {
                padding: 5px 15px 5px 20px;
                display: flex;
                cursor: pointer;
                user-select: none;
            }

            input {
                margin: 0;
                margin-right: 8px;
            }

            &:last-child {
                color: $linedark;
                padding-right: 20px;
            }
        }
        tr:hover { background: change-color($blue, $alpha: 0.1); }
        :nth-child(5n) td {
            padding-bottom: 20px;
        }
    }
}

#results {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .resultsHeader {
        @include header;
        flex-shrink: 0;

        &.pulse {
            @keyframes pulse {
                0%    { background-color: $blue; }
                30%   { background-color: adjust-color($blue, $lightness: 10%); }
                100%  { background-color: $blue; }
            }
            animation: pulse 1s ease-out 1;
            span:first-child {
                opacity: 1;
                transition: opacity 1.5s;
            }
        }

        span:first-child {
            opacity: 0;
            transition: opacity 1s;
        }

        position: relative; // For .loading
        .loading {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;

            &.loading-active {
                display: block;
                background: linear-gradient(90deg, transparent 70%, $bg 85%, transparent);
                background-size: 200%;
                animation: wave 1.5s linear infinite;

                @keyframes wave {
                    0%    { background-position: 200% 50% }
                    100%  { background-position: 0%   50% }
                }
            }
        }
    }

    .tableWrapper {
        width: 100%;
        overflow: auto;
        flex: 1;
        padding: 10px 20px;
    }

    table {
        border-collapse: collapse;

        thead td {
            font-weight: bold;
            border-bottom: 1px solid $linedark;
        }

        td {
            border-bottom: 1px solid $line;
            padding: 10px 20px 10px 0;
            white-space: nowrap;
        }

        :nth-child(2n) td {
            border-bottom: 1px solid hsl(0, 0, 95%);
        }

        :nth-child(10n) td {
            border-bottom: 1px solid hsl(0, 0, 80%);
        }
    }
}

