$bg: hsl(60, 10%, 99.4%);
$text: hsl(0, 0, 30%);
$line: hsl(0, 0, 92%);
$line80: hsl(0, 0, 80%);
$linedark: hsl(0, 0, 70%);
$blue: hsl(205, 90%, 45%);

[class^="segoe-icon-"],
[class*=" segoe-icon-"] {
    // https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font
    font-family: 'Segoe MDL2 Assets' !important;
    font-weight: normal;
    font-style: normal;
}

.segoe-icon-link:before { content: "\E71B"; }

html, #app {
    height: 100%;
}

body {
    font: 8pt sans-serif;
    background-color: $bg;
    color: $text;
    margin: 0;
    height: 100%;

    * {
        box-sizing: border-box;
        outline: none;
    }

    a {
        text-decoration: none;
        &, &:visited { color: hsl(205, 90%, 40%); } // Darker than $blue.
        
    }

    input, select {
        color: inherit;
        font: inherit;
        text-shadow: inherit;
        background-color: inherit;
    }

    select {
        border: 1px solid hsla(0, 0, 0, 0.15);
    }

    option {
        color: $text;
        background: $bg;
    }

    ::placeholder { color: hsla(0, 0, 100%, 0.5); }

    ::-webkit-scrollbar {
        height: 12px;
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background: hsla(0, 0, 0, 0.1);
        &:hover { background: hsla(0, 0, 0, 0.2); }
    }
}

@mixin center-center {
    display: flex;
    justify-content: center; // Left/Right
    align-items: center; // Top/Bottom
}

@mixin buttonBase {
    padding: 8px 10px;
    padding-right: 12px; // Optical
    border-radius: 3px;
}

@mixin buttonActive {
    cursor: pointer;
    user-select: none;
    &:hover, &.hot { background-color: hsla(0, 0, 0, 0.15); }
    &:active { background-color: hsla(0, 0, 100%, 0.15); }
}

@mixin header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 9pt;
    text-shadow: 0 1px 2px hsla(0, 0, 0, 0.2);

    background-color: $blue;
    color: hsl(0, 0, 95%);
    border-bottom: 1px solid adjust-color($blue, $lightness: -5%);

    & > :not(input):not(.loading) {
        @include buttonBase;
        &.button { @include buttonActive; }
        transition: opacity 1s;
    }

    & > a { color: inherit; }
}

.root {
    display: flex;
    height: 100%;
    width: 100%;

    & > * {
        height: 100%;
        box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.2);
        background: $bg;
    }
    & > :not(:first-child) {
    }
    & > :nth-child(1) { z-index: 3; }
    & > :nth-child(2) { z-index: 2; }
    & > :nth-child(3) { z-index: 1; }

    & > :not(:first-child) > :not(:first-child) {
        border-left: 1px solid $line;
    }
}

.peek {
    position: absolute;
    z-index: 3; // Might be 3 because of interaction with Monaco.
    border: 1px solid $line80;
    border-radius: 2px;
    background: $bg;
    box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    svg {
        position: absolute;
        right: 0;
        width: 80px;
        height: 100%;
        z-index: -1;
        fill: adjust-color($blue, $green: -20);
        opacity: 0.15; // lighten() doesn't work for all color inputs.
    }

    .peek-value {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        :first-child {
            font-size: 9pt;
            font-weight: bold;
        }
        :last-child {
            color: adjust-color($blue, $saturation: -50%);
            margin-left: 50px;
        }

        &:hover { background: adjust-color(change-color($blue, $alpha: 0.1), $green: -40); }
    }
}

.query {
    display: flex;
    flex-direction: column;
    position: relative; // For datePicker
	& > * {
		flex: 0 0 auto;
	}

    .queryHeader {
        @include header;
        padding-left: 0; // Override 'header'

        input {
            flex: 1 1 auto;
            font: inherit;
            border: 0;
            padding: 17px;
        }

        span {
            @include buttonBase;
            &:hover { @include buttonActive; }
        }

        span.save {
            color: adjust-color($blue, $lightness : -25%);
            text-shadow: initial !important;
            background-color: hsla(0, 0, 100%, 0.8);
            padding: 7px 9px; // 1px less than normal each side, optical.
            &:hover { background-color: hsla(0, 0, 100%, 0.6); }
        }

        select {
            padding: 6px 4px !important;
            margin-left: 10px;
            option { padding: 6px 4px; }
        }
    }

    #queryEditor {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
		height: 200px;

        .monaco-editor { // Override default monaco styling.
            background-color: transparent;
            .margin, .monaco-editor-background { background-color: transparent; }
            .line-numbers { color: hsl(0, 0, 80%); }
            .current-line { border: 0; }
            .suggest-widget {
                width: 230px;
                & > .tree {
                    background-color: $bg !important;
                    border-style: none;
                    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.05);
                }
            }

            .validationError {
            	text-decoration: underline;
                text-decoration-color: hsl(5, 80%, 65%);
            }
        }

        position: relative;
        .queryHint {
            position: absolute;
            z-index: -1;
            font: 14px Consolas; // Manually match Monaco
            color: hsl(0, 0, 90%);
            white-space: pre;
            display: none;
        }
    }

    .queryUsage {
        font-family: monospace;
        color: hsl(0, 0, 50%);
        padding: 10px 5px 10px 30px;
        padding-right: 0;
        overflow-x: hidden;
        span.errorMessage {
            color: hsl(5, 80%, 65%);
        }
    }
	
    .schemaHeader {
        @include header;
    }

    .tableWrapper {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 20px;
		
		.schemaColumns {
            column-width: 180px;
			margin-right: 50px;
		}

        label {
            padding: 5px 15px 5px 20px;
            display: flex;
            cursor: pointer;
            user-select: none;
        }

        input {
            margin: 0;
            margin-right: 8px;
        }

		.groupOfFive {
			break-inside: avoid;
	        padding-bottom: 20px;
			
	        div:hover { background: adjust-color(change-color($blue, $alpha: 0.1), $green: -40); }			
		}
    }
}

.flexFill { flex: 1 }

#results {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .resultsHeader {
        @include header;
        flex-shrink: 0;

        &.pulse {
            @keyframes pulse {
                0%    { background-color: $blue; }
                30%   { background-color: adjust-color($blue, $lightness: 10%); }
                100%  { background-color: $blue; }
            }
            animation: pulse 1s ease-out 1;
            span:first-child {
                opacity: 1;
                transition: opacity 1.5s;
            }
        }

        span:first-child {
            opacity: 0;
            transition: opacity 1s;
        }

        [class^="segoe-icon-"],
        [class*=" segoe-icon-"] {
            font-size: 18px;
        }

        position: relative; // For .loading
        .loading {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;

            &.loading-active {
                display: block;
                background: linear-gradient(90deg, transparent 70%, $bg 85%, transparent);
                background-size: 200%;
                animation: wave 1.5s linear infinite;

                @keyframes wave {
                    0%    { background-position: 200% 50% }
                    100%  { background-position: 0%   50% }
                }
            }
        }
    }

    .tableWrapper {
        width: 100%;
        overflow: auto;
        flex: 1;
        padding: 10px 20px;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed; // For presumed perf since we're doing manual layout.

        thead:hover td {
            border-right-color: $linedark;
        }

        thead td {
            font-weight: bold;
            border-bottom: 1px solid $linedark;
            border-right: 1px solid transparent; // Prep for hover.
            overflow: visible; // Allow resizer to overflow.
        }

        td {
            border-bottom: transparent;
            padding: 10px 20px 10px 0;
            position: relative; // For span.
            height: 33px;
            
            & > span {
                position: absolute;
                top: 0px; bottom: 0px;
                left: 0px; right: 0px;
                padding: 10px 20px 10px 0;
                
                white-space: nowrap;         
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        
        td + td {
            padding-left: 10px;
        }
        
        td + td > span {
            padding-left: 10px;
        }

        tr:nth-child(2n) td {
            border-bottom: 1px solid hsl(0, 0, 95%);
        }

        tr:nth-child(10n) td {
            border-bottom: 1px solid hsl(0, 0, 80%);
        }
    }
}

.datePicker {
    box-sizing: content-box;
    position: absolute;
    top: 50px;
    right: -120px;
    border: 1px solid $line80;
    border-top: none;
    border-radius: 0 0 2px 2px;
    background: $bg;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    $dateWH: 50px;

    div:first-child { // Month
        font-size: 9pt;
        font-weight: bold;
        height: $dateWH;
        margin-top: 10px + $dateWH / 2; // Align with Days padding + header
        padding: 0px 30px 0 20px;
        display: flex;
        align-items: center;
    }

    div:last-child { // Days
        box-sizing: content-box;
        padding: 10px 0;
        border-left: 1px solid $line;
        display: flex;
        flex-flow: row wrap;
        width: 7 * $dateWH;

        & > span {
            width: $dateWH;
            height: $dateWH;
            @include center-center;
            cursor: pointer;
            padding: 5px;

            &.header {
                height: $dateWH / 2;
                cursor: default;
                font-size: 7pt;
                font-weight: bold;
                color: adjust-color($blue, $saturation: -40%, $lightness: 30%);
            }

            & > span {
                width: 100%;
                height: 100%;
                @include center-center;
                border-radius: 50%;
                padding-right: 2px; // Optical.
                transition: 100ms background;
            }

            &:hover:not(.header) > span {
                background: adjust-color(change-color($blue, $alpha: 0.1), $green: -40);
            }

            &.current > span {
                background-color: $line;
            }

            &.outside {
                color: $line;
            }
        }
    }
}
