@import './configuration/theme';

/* Goals:
    - Header [full width, fixed height]
    - Left and Right sides [fixed width, full height]
    - Middle content [remaining width and height, scrollable]
    - Footer [full width, fixed height]

   Requirements:
    - Ancestors of the root flow element *all* must have "width: 100%; height 100%" in order to fill viewport height.
    - All ancestors of the scrolling element must have "overflow: hidden" to coerce the main element into scrolling [Edge]
*/

/* --- Mixins --- */

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* --- Overall Layout --- */

/* Make all root elements full height/width, unpadded, and non-scrolling */
html, body, .viewport {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

/* Make root element flow contents as columns (fill the height) */
.viewport {
    display: flex;
    flex-flow: column;
}

/* Make the header fixed height */
.header {
    height: 64px;
    min-height: 64px;
}

/* Make the middle area resize and full width.
    - Make contents of it flow across.
    - Ensure it's non-scrollable so the content will be scrollable
*/
.middle {
    flex: 1 100%;
    background: #F5F5F5;

    display: flex;
    flex-flow: row;

    overflow: hidden;
}

/* Make the footer fixed height */
.footer {
    background: #999;
    height: 32px;
    min-height: 32px;
}

/* Make the left bar fixed width */
.mode {
    width: 53px;
}

/* Make the center [between left and right] full width, contents share height */
.center {
    flex: 1 100%;

    display: flex;
    flex-flow: column;

    overflow: hidden;
}

/* Make query stats fixed height */
.queryStats {
    min-height: 32px;
    max-height: 32px;
}

/* Make the right bar fixed width */
.right {
    background: #999;
    padding: 8px;
    width: 100px;
}

/* Make a marker for the panel which is to be scrollable.
   It must also be flex in order to take up the correct height.
   All ancestors must be overflow: hidden for it to scroll properly.
*/
.scrollable {
    flex: 1 100%;
    overflow: auto;
}

/* --- Basic Look and Feel --- */

/* Set default font, font-size, and background (light grey) */
body {
    font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-size: 14px;
    background: #f5f5f5;
    color: #444444;
}

/* Add a 'light' font option, and use for H1-H6 */
.font-light, h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
}

/* Add an 'example' font which is a fixed-width font */
.font-example {
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}

/* Set default font in controls */
input,
input[type=submit],
select,
button,
textarea {
    font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 600;
}

/* Disable the blue border on selected inputs */
textarea:focus,
input:focus,
select:focus,
div:focus {
    outline: 0;
}

/* Add a style to request indentation */
.indent {
    margin-left: 1.5em;
}

/* Make table backgrounds white and harmonize boreders */
table {
    border-collapse: collapse;
    background: white;
}

/* Give table cells decent padding, silver borders, and put text at the top */
table td, table th {
    padding: 4px 6px;
    border: 1px solid #CCCCCC;
    vertical-align: top;
    text-align: left;
}

/* Make the first row (headings) grey on light grey */
table thead th, table thead td {
    color: #777777;
    background-color: #EEEEEE;
}

/* Make a 'smallTable' option */
.smallTable {
    font-size: 80%;
}

/* Smalltable heading rows are borderless, narrowly padded, black on surrounding background */
.smallTable thead td {
    border: none;
    padding: 0px 6px;

    background-color: transparent;
    color: black;
}

/* Smalltable cells are much more narrowly padded */
.smallTable td {
    padding: 1px 4px;
}

/* Highlight query matching text with yellow background highlight */
.h {
    background: #ffeb0a;
}

/* Mark error content with light red highlight */
.error {
    background: #f67c87;
}

/* Use the Segoe UI Symbol fonts with standing size and spacing */
.icon {
    display: inline-block;
    font-family: "Segoe UI Symbol";
    font-size: 80%;
    padding: 1px;
    margin: 0px 4px 0px 0px;
    width: 1.5em;
    text-align: center;
}

/* Column Controls (add/remove column/row) grey and put them on the right side */
.icon-column-heading {
    color: #BBB;
    cursor: pointer;
    float: right;
    padding: 0px 2px;

    /* Column controls which are links shouldn't be blue when visited */
    &:visited {
        color: #BBB;
    }

    /* Make column controls highlight slightly on mouseover. Don't underline ones which are links */
    &:hover {
        color: #999;
        text-decoration: none;
    }
}

/* Indicate things are clickable with the pointer (hand) mouse cursor and a hover color */
.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: #0aa2dc;
}

/* Customize link color and hover color */
a,
a:visited {
    color: #0c6dce;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #3393f3;
    text-decoration: none;
}

/* --- Query Stats Bar --- */

/* Make the QueryStats grey and hide overflowing content */
.queryStats {
    padding-left: 4px;
    background: #E3E3E3;
    @include ellipsis;
    display: flex;
    & > * { padding: 6px 0; }

    .explanation {
        border: 1px solid hsl(0, 0, 75%);
        padding: 1px 6px 2px;
        margin-left: 3px;
    }

    .spacer {
        flex-grow: 1;
    }
}

/* Make the per-table buttons dark grey and spaced out */
.queryStats .statsForTable {
    margin-right: 8px;

    & > span {
        border: 1px solid hsl(0, 0, 75%);
        padding: 1px 8px 2px 6px;

        &:not(:first-child) {
            border-left: 0;
        }

        /* Make the selected table white */
        &.current {
            background-color: white;
        }

        /* Make the per-table counts bold and add spacing before the table name */
        & .countValue {
            padding-right: 4px;
            font-weight: bold;
        }
    }
}

/* Space out the QueryStats buttons a bit */
.queryStats a {
    font-size: 0; // Discard white space.
    padding: 11px 7px;
    &:last-child { padding-right: 7px + 5px; }
    &:hover { background-color: hsl(0, 0, 75%); }
}


/* --- Mode Bar [left side] --- */

/* Make mode bar white on darker green, sized for icons, animated */
.mode {
    color: white;
    background-color: $dark;
    width: 53px;
    overflow: hidden;
}

/* Make the currently selected mode grey on light grey (match main panel background) */
.mode .selected {
    color: #666666;
    background: #F5F5F5;
}

/* Make the currently selected mode light up on hover but keep the matching background */
.mode .selected:hover {
    color: #222222;
    background: #F5F5F5;
}

/* Make mode bar modes large icons */
.mode a {
    display: block;
    width: 200px;
    padding: 12px;

    font-size: 12pt;
    color: #EEEEEE;
    text-decoration: none;

    transition: all 0.2s ease-in;
    transition-delay: 0s;
}

/* Make the mode links turn darker grey on hover */
.mode a:hover {
    color: #999;
}

/* Make mode bar icons large and spaced */
.mode a i {
    font-size: 22px;
    margin-right: 12px;
}


/* --- Splash Content UX --- */

.splash {
    animation: splash-fade ease-in 0.5s;
    font-size: 28pt;
    color: #555555;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;
    font-weight: 300;
    padding: 24px;
}

.smaller {
    margin-top: 4px;
    font-size: 70%;
}

/* --- Error / Access Denied UX --- */

/* Move the overall error page down and limit the width */
.errorPage {
    padding: 48px 24px;
}

/* Make the heading large white text on red, centered, left-aligned. */
/* Make the status code smaller, right-aligned. */
.errorPage h1 {
    color: white;
    background: #e81123;
    padding: 12px;
    margin: auto;
    width: 50%;
    border: 2px solid #e81123;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.errorPage h1 > .errorTitle {
    font-size: 24pt;
}

.errorPage h1 > .errorStatus {
    font-size: 16px;
}

/* Make error content centered, red border, spaced */
.errorPage article {
    margin: 0 auto;
    width: 50%;
    border: 2px solid #e81123;
    padding: 12px;
    font-size: 12pt;
}


/* --- Listing UX --- */

/* So far only used within the context of the resultTable. */
@mixin border-collapse($border-color, $border-width: 1px, $border-style: solid) {
    border-collapse: separate;
    border-spacing: 0;

    thead td, thead th {
        border-top: $border-width $border-style $border-color;
    }
    td {
        border-color: $border-color;
        border-width: 0 $border-width $border-width 0;
        &:first-child { border-left-width: $border-width; }
    }
}

/* Make the result listing take the full available width */
.resultTable {
    width: 100%;

    // Manually create the effect for border-collapse to enable frozen headers.
    // Otherwise the borders won't stick to the frozen headers.
    @include border-collapse(#ccc);

    // Special-casing td so items (ex: AddCol) can be attached to it.
    thead td {
        overflow: visible; // Undo.

        & > .th-inner {
            display: flex;

            & > :first-child { // Typically the title.
                flex: 1;
                @include ellipsis;
            }

            .icon-column-heading {
                float: none; // Undo.
            }
        }
    }
}

/* Show that table rows are all clickable (to open details) */
.resultTable tr {
    cursor: pointer;

    &:hover { background-color: $light; }

    &.selected {
        color: white;
        background-color: $light;
        font-weight: bold;
    }
}

/* Make listing table slightly more padded, ellipse on overflow */
.resultTable td {
    padding: 6px;
    max-width: 400px; // Acts like min-width.
    @include ellipsis;
}

/* Make the AddColumnList absolute positioned, on top, scrollable, black on white */
/* ISSUE: Unsure how to ensure it isn't too tall when very little height */
.add-list {
    z-index: 10;
    position: absolute;
    background: white;
    color: black;
    border: 1px solid #888;
    top: 0em;
    right: -1em;
    width: 12em;
    padding: 2px;
    overflow: auto;
    max-height: 24em;
}

/* Make Filter textbox in AddColumnList spaced from edges and narrow enough not to be covered by scrollbar */
.add-list input {
    width: 10.75em;
    margin: 2px;
    margin-bottom: 4px;
}

/* Make AddColumnList hovered on items look selected */
.add-list div:hover {
    color: white;
    background-color: #3d56af;
}

/* Make the AddColumnList programmatically selected item look selected */
.add-list-selected {
    color: white;
    background-color: #3d56af;
}

/* --- Details UX --- */

/* Make the details panel white, padded */
.details {
    background-color: white;
    padding: 12px;

    /* Make commands float on the right side */
    .commands {
        float: right;
        font-size: 133%;
    }

    /* Space the commands out and make sure they're clickable */
    .commands * {
        margin: 0px 4px;
        cursor: pointer;
    }

    /* Make the title large and share a line */
    .detailTitle {
        display: inline-block;
        font-size: 28px;
    }

    /* Make the detail boxes columns */
    .overviewBoxes {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
    }

    .box {
        flex: 1;
        padding: 4px 0px;
        border-bottom: solid 1px silver;
    }
}

/* Space the detail links from the text slightly */
.detailLink {
    margin-left: 4px;
}

/* Details Table values - limit the height and make scrollable */
.detailsValue {
    max-height: 6.75em;
    min-width: 300px;
    overflow: auto;
}


/* --- Grid UX --- */

/* Add padding around grid */
.grid {
    padding: 16px;
}

/* Make Grid text larger, semi-bold */
.grid * {
    font-size: 16px;
    font-family: "Segoe UI Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
}

/* Make Grid cells animated and unpadded */
.grid td {
    padding: 0px;
}

/* Make cell content padded, single-line, and standard width. [Not the cells themselves, so background bars are full size] */
.grid table td div {
    padding: 8px 8px;

    @include ellipsis;

    transition: all 0.15s ease-in;
    transition-delay: 0s;

    min-width: 150px;
    max-width: 150px;
}

/* Ensure Grid cells don't grow wider than the values [excluding column and row headings] */
.grid table tbody td.c {
    width: 166px;
}

/* Row and Column heading cells have controls *outside* the div [to ensure they're clickable], so the cells need the padding, but less on the right */
.grid td.grid-heading {
    padding: 8px 2px 8px 8px;
}

/* Make Row and Column heading divs (with the text only) small enough that the controls don't wrap */
.grid td.grid-heading div {
    padding: 0px;

    min-width: 125px;
    max-width: 125px;

    @include ellipsis;
}

/* Allow *Row* heading divs to be wider */
.grid tr td.grid-heading:first-child div {
    width: auto;
    min-width: 150px;
    max-width: 300px;
}

/* Allow *Column* headings to wrap */
.grid thead td.grid-heading div {
    min-width: 125px;
    max-width: 125px;

    white-space: normal;
}

/* Grid column headings are wider when being edited, less padded, not animated. */
.grid table td.grid-heading.editing div {
    min-width: 300px;
    max-width: 300px;

    transition: none;
}

/* Editing Textboxes are narrow enough not to wrap with icons and are not bumped right against icons or each other */
.grid table .editing input {
    width: 260px;
    margin-left: 4px;
    margin-bottom: 4px;
}

/* Make Grid values very dark blue */
.grid table td a {
    color: #1E3CA9; 
}

/* Make Grid values lighten and underline on hover */
.grid table td a:hover {
    color: #3D56AF;
    text-decoration: underline;
}

/* Put options panel a line below the Grid table */
.grid .options {
    padding-top: 24px;
}

/* Make the Pie visualization small and off to the left */
.pie {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    float: left;
}

/* --- Left/Right panel resizer --- */

/* Make the resizer take the full container space, grey, on top of other content */
.resizer {
    box-sizing: border-box;
    opacity: 0.2;
    background: #000;
    z-index: 1;
    background-clip: padding-box;
}

/* Make the resizer visibility animate */
.resizer:hover {
    transition: all 1s ease;
}

/* Make the resizer 11px wide but appear only 1px wide, with the left-right resize cursor */
.resizer.vertical {
    width: 11px;
    margin: 0px -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

/* Make the full resizer target area partially visible on hover */
.resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

/* Make the panes split on width via flex layout */
.splitpane {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    outline: none;

    overflow: hidden;
}

/* Make the panes take up the space and use flex inside, with no scrolling. */
.pane {
    flex: 1 1 0%;

    display: flex;
    overflow: hidden;
}
