@import './configuration/theme';
@import './shared.scss';

/* Goals:
    - Header [full width, fixed height]
    - Left and Right sides [fixed width, full height]
    - Middle content [remaining width and height, scrollable]
    - Footer [full width, fixed height]

   Requirements:
    - Ancestors of the root flow element *all* must have "width: 100%; height 100%" in order to fill viewport height.
    - All ancestors of the scrolling element must have "overflow: hidden" to coerce the main element into scrolling [Edge]
*/

/* --- Overall Layout --- */

/* Make all root elements full height/width, unpadded, and non-scrolling */
html, body, .viewport {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

/* Make root element flow contents as columns (fill the height) */
.viewport {
    display: flex;
    flex-flow: column;
}

/* Make the center [between left and right] full width, contents share height */
.center {
    flex: 1;

    display: flex;
    flex-flow: column;

    overflow: hidden;
}

/* Make query stats fixed height */
.queryStats {
    min-height: 32px;
    max-height: 32px;
}

/* Make the right bar fixed width */
.right {
    background: #999;
    padding: 8px;
    width: 100px;
}

/* Make a marker for the panel which is to be scrollable.
   It must also be flex in order to take up the correct height.
   All ancestors must be overflow: hidden for it to scroll properly.
*/
.scrollable {
    flex: 1 100%;
    overflow: auto;
}

/* --- Basic Look and Feel --- */

/* Set default font, font-size, and background (light grey) */
body {
    font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: #444444;
}

/* Add a 'light' font option, and use for H1-H6 */
.font-light, h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
}

/* Add an 'example' font which is a fixed-width font */
.font-example {
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}

/* Set default font in controls */
input,
input[type=submit],
select,
button,
textarea {
    font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    &:focus { outline: 0; } // Disable the blue border on selected inputs
}

/* Add a style to request indentation */
.indent {
    margin-left: 1.5em;
}

table:focus { outline: 0; }

table.legacyTable {
    border-collapse: collapse;
    background: white;

    td, th {
        padding: 4px 6px;
        border: 1px solid #CCCCCC;
        vertical-align: top;
        text-align: left;
    }

    thead th, thead td {
        color: #777777;
        background-color: #EEEEEE;
    }
}

table.smallTable {
    font-size: 80%;

    thead td {
        border: none;
        padding: 0px 6px;
        background-color: transparent;
        color: black;
    }

    td {
        padding: 1px 4px;
    }
}

/* Highlight query matching text with yellow background highlight */
.h {
    background: hsl(55, 100%, 70%);
    border-radius: 2px;
}

/* Use the Segoe UI Symbol fonts with standing size and spacing */
.icon {
    display: inline-block;
    font-family: "Segoe UI Symbol";
    font-size: 80%;
    padding: 1px;
    margin: 0px 4px 0px 0px;
    width: 1.5em;
    text-align: center;
}

/* Column Controls (add/remove column/row) grey and put them on the right side */
.icon-column-heading {
    color: #BBB;
    cursor: pointer;
    float: right;
    padding: 0px 2px;

    /* Column controls which are links shouldn't be blue when visited */
    &:visited {
        color: #BBB;
    }

    /* Make column controls highlight slightly on mouseover. Don't underline ones which are links */
    &:hover {
        color: #999;
        text-decoration: none;
    }
}

/* Indicate things are clickable with the pointer (hand) mouse cursor and a hover color */
.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: #0aa2dc;
}

/* Customize link color and hover color */
a,
a:visited {
    color: #0c6dce;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #3393f3;
    text-decoration: none;
}

/* --- Details UX --- */

/* Make the details panel white, padded */
.details {
    padding: 12px;

    /* Make commands float on the right side */
    .commands {
        float: right;
        font-size: 133%;
    }

    /* Space the commands out and make sure they're clickable */
    .commands * {
        margin: 0px 4px;
        cursor: pointer;
    }

    .commands-text {
        @include small-caps(7pt);
        border: 1px solid #0c6dce;
        border-radius: 3px;
        padding: 3px 4px;
        position: relative;
        top: -3px;
    }

    /* Make the title large and share a line */
    .detailTitle {
        display: inline-block;
        font-size: 28px;
    }

    /* Make the detail boxes columns */
    .overviewBoxes {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
    }

    .box {
        flex: 1;
        padding: 4px 0px;
        border-bottom: solid 1px silver;

        .box-header span {
            margin-right: 5px;
        }

        .box-body {
            margin-top: 8px;
        }
    }
}

table.detailsTable {
    background: transparent;
}

/* Space the detail links from the text slightly */
.detailLink {
    margin-left: 4px;
}

/* Details Table values - limit the height and make scrollable */
.detailsValue {
    max-height: 6.75em;
    min-width: 300px;
    overflow: auto;
}

/* Make the Pie visualization small and off to the left */
.pie {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    float: left;
}

.offsetParent {
    position: relative;
    height: 100%;
}

.searchPage .infiniteScroll {
    padding-left: 15px;
}
