$bg: hsl(0, 0, 99%);

@mixin center-center {
    display: flex;
    justify-content: center; // Left/Right
    align-items: center; // Top/Bottom
}

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin small-caps($fs: 10px) {
    font-size: $fs;
    font-weight: bold;
    text-transform: uppercase;
}
