/* Palette URL: http://paletton.com/#uid=40z0u0ktLvaiqDmnzwTvIoQAEjB */

/* Color Theme: Teal */
.theme-teal .theme-background-vdark  { background-color: #024F61; }
.theme-teal .theme-background-dark   { background-color: #05647B; }
.theme-teal .theme-background-medium { background-color: #0F7F9A; }
.theme-teal .theme-background-light  { background-color: #2E8BA1; }
.theme-teal .theme-background-vlight { background-color: #51A4B7; }

.theme-teal .theme-hover-vdark:hover  { background-color: #024F61; }
.theme-teal .theme-hover-dark:hover   { background-color: #05647B; }
.theme-teal .theme-hover-medium:hover { background-color: #0F7F9A; }
.theme-teal .theme-hover-light:hover  { background-color: #2E8BA1; }
.theme-teal .theme-hover-vlight:hover { background-color: #51A4B7; }


/* Color Theme: Orange */
.theme-orange .theme-background-vdark  { background-color: #9C4E00; }
.theme-orange .theme-background-dark   { background-color: #C66302; }
.theme-orange .theme-background-medium { background-color: #F88411; }
.theme-orange .theme-background-light  { background-color: #FFA143; }
.theme-orange .theme-background-vlight { background-color: #FFB56C; }

.theme-orange .theme-hover-vdark:hover  { background-color: #9C4E00; }
.theme-orange .theme-hover-dark:hover  { background-color: #C66302; }
.theme-orange .theme-hover-medium:hover { background-color: #F88411; }
.theme-orange .theme-hover-light:hover  { background-color: #FFA143; }
.theme-orange .theme-hover-vlight:hover { background-color: #FFB56C; }


/* Color Theme: Green */
.theme-green .theme-background-vdark  { background-color: #00751F; }
.theme-green .theme-background-dark   { background-color: #019428; }
.theme-green .theme-background-medium { background-color: #0DBA3A; }
.theme-green .theme-background-light  { background-color: #33C058; }
.theme-green .theme-background-vlight { background-color: #58CF77; }

.theme-green .theme-hover-vdark:hover  { background-color: #00751F; }
.theme-green .theme-hover-dark:hover   { background-color: #019428; }
.theme-green .theme-hover-medium:hover { background-color: #0DBA3A; }
.theme-green .theme-hover-light:hover  { background-color: #33C058; }
.theme-green .theme-hover-vlight:hover { background-color: #58CF77; }


/* Color Theme: Blue */
.theme-blue .theme-background-vdark  { background-color: #0A1F6A; }
.theme-blue .theme-background-dark   { background-color: #112A86; }
.theme-blue .theme-background-medium { background-color: #1E3CA9; }
.theme-blue .theme-background-light  { background-color: #3D56AF; }
.theme-blue .theme-background-vlight { background-color: #6075C2; }

.theme-blue .theme-hover-vdark:hover  { background-color: #0A1F6A; }
.theme-blue .theme-hover-dark:hover   { background-color: #112A86; }
.theme-blue .theme-hover-medium:hover { background-color: #1E3CA9; }
.theme-blue .theme-hover-light:hover  { background-color: #3D56AF; }
.theme-blue .theme-hover-vlight:hover { background-color: #6075C2; }