<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="grid -> index" patternSyntax="ExactMatch">
                    <match url="grid.html" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="help -> index" patternSyntax="ExactMatch">
                    <match url="help" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
