// Palette URL: http://paletton.com/#uid=40z0u0ktLvaiqDmnzwTvIoQAEjB

$vdark  :hsl(30, 100%, 31%);
$dark   :hsl(30, 98%,  39%);
$medium :hsl(30, 94%,  52%);
$light  :hsl(30, 100%, 63%);
$vlight :hsl(30, 100%, 71%);
