<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Xsv is extensible. 
    
        To add ITabularReaders or ITabularWriters (to support new source and destination formats):
          - Add a key starting with "ITabularReader" to add a reader or "ITabularWriter" to add a writer.
          - The value should be the file extension supported, the assembly to load, and the namespace and type name.
          - The reader or writer must have a constructor taking only a string (the path or URL of the content to read or write)
          
          Ex: <add key="ITabularReader.ss" value="ss;Elfie.SS;Elfie.SS.Serialization.StructuredStreamReader" />
        
        To add new ISanitizeMappers (to support sanitizing data in different ways):
          - Add a key starting with 'ISanitizeMapper'.
          - The value should be the mapper name(s) to register, the assembly to load, and the namespace and type name.
          - The mapper must have an empty constructor.
         
          Ex: <add key="ISanitizeMapper.test" value="test,sample;Xsv.Test;Xsv.Test.Sanitize.SampleMapper" />
      -->
  </appSettings>
</configuration>