<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- XFormProductionFolder must be configured, referring to the path where the XForm Database Root is (the folder with Source, Table, Config, Query) -->
    <add key="XFormProductionFolder" value="C:\Download\XFormProduction" />
  </appSettings>
  <system.web>
    <compilation enablePrefetchOptimization="true" debug="false" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    
    <!-- 
      Authentication and Authorization must be configured here to secure the XForm site.
      To enable CORS:
        - Enable anonymous authentication.
        - Allow anonymous requests specifically for the OPTIONS verb only (to allow the preflight request to get to app code).
          <allow users="?" verbs="OPTIONS" />
        - Authorize all other requests normally, so that the 'real' request has correct access control.
        - App code must add CORS headers to all responses (Access-Control-Allow-Origin: [RequestOriginEchoed]; Access-Control-Allow-Credentials: true).
        - App code must return success (200) and no other content for anonymous requests.

      NOTE: Frequent mistake - use 'users' for single users and 'roles' for security groups.
        <allow users="DOMAIN\UserAlias" />
        <allow roles="DOMAIN\GroupName" /> 
    -->
    <authentication mode="Windows" />
    <authorization>
      <!-- Allow anonymous requests for CORS preflight requests only -->
      <allow users="?" verbs="OPTIONS" />

      <!-- Authorize specific users and groups for non-OPTIONS requests -->
      <!-- 
      <allow users="DOMAIN\UserAlias" />
      <allow roles="DOMAIN\SecurityGroupAlias" /> 
      -->

      <!-- Other users must be explicitly denied. -->
      <deny users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="RequestHandler" verb="*" path="*" type="RequestHandler, XForm.IIS"/>
    </handlers>
    <security>
      <authentication>
        <!-- We allow anonymous authentication so that XForm can return CORS headers to allow authentication from other domains.
          NOTE: You must edit C:\Windows\System32\inetsrv\Config\applicationHost.config
          Setting overrideModeDefault="Allow" for the <system.webServer>/<security>/<authentication> elements.         
         -->
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>