<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!-- List of Packages to exclude [packages which add too much to data size for their popularity] -->
    <add key="Excluded_PackageNames" value="SSCases; AboditNLPWordnet" />

    <!-- List of packages for which all types should be merged even if already present in tree] -->
    <add key="DisableDuplicateFiltering_PackageNames" value="MicrosoftAssemblyReferences" />
  </appSettings>
</configuration>
