<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPipelineStageBuilder_AssertCommand" value="XForm.Test;XForm.Test.AssertBuilder" />
    <add key="IPipelineStageBuilder_AssertCountCommand" value="XForm.Test;XForm.Test.AssertCountBuilder" />
  </appSettings>
</configuration>