<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Add this assembly as an XForm Extension assembly; all implementations of extensible interfaces here will be loaded. -->
    <add key="XFormExtension_XForm.Test" value="XForm.Test"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
