// Palette URL: http://paletton.com/#uid=40z0u0ktLvaiqDmnzwTvIoQAEjB

// Teal Theme
$vdark  :hsl(191, 96%, 19%);
$dark   :hsl(191, 92%, 25%);
$medium :hsl(191, 82%, 33%);
$light  :hsl(191, 56%, 41%);
$vlight :hsl(191, 41%, 52%);

// // Orange Theme
// $vdark  :hsl(30, 100%, 31%);
// $dark   :hsl(30, 98%,  39%);
// $medium :hsl(30, 94%,  52%);
// $light  :hsl(30, 100%, 63%);
// $vlight :hsl(30, 100%, 71%);

// // Green Theme
// $vdark  :hsl(136, 100%, 23%);
// $dark   :hsl(136, 99%,  29%);
// $medium :hsl(136, 87%,  39%);
// $light  :hsl(136, 58%,  48%);
// $vlight :hsl(136, 55%,  58%);

// // Blue Theme
// $vdark  :hsl(227, 83%, 23%);
// $dark   :hsl(227, 77%, 30%);
// $medium :hsl(227, 70%, 39%);
// $light  :hsl(227, 48%, 46%);
// $vlight :hsl(227, 45%, 57%);