<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <!-- Tests in XForm.Test.dll not discovered? Try deleting %TEMP%\VisualStudioTestExplorerExtensions and restarting VS. -->
  <TargetPlatform>x64</TargetPlatform>
  <TargetFrameworkVersion>Framework45</TargetFrameworkVersion>

  <DeploymentEnabled>false</DeploymentEnabled>
</RunSettings>